---
title:  GSTA3 bisulfite sequencing test run
date:  2016-11-14
layout: post
categories:
  - gsta methylation
---

# Genomic DNA samples:

  * EW1 and N1. Made more 25ng/uL dilution from stocks to ensure we'd have the 40uL of each
  * Nanodropped:

| Sample | ng/uL | 260/280 | 260/230 |
| ------ | ----- | ------- | ------- |
| EW1 | 26.7 | 1.76 | 0.73 |
| N1 | 27.2 | 2.11 | 1.55 |

  * EW1 isn't fantastic but it represents our worst extraction. If it works all the others should.

# Bisulfite conversion:

  * Two replicates of each sample. 20uL of 25ng/uL (500ng total) in each reaction.
  * Using recommended thermal cycler settings:
    * 98C for 10min
    * 64C for 2.5 hours
    * 4C hold
