---
title: Trichomanes intricatum extraction for GBS test-run
date: 2011-10-19T17:21:47+00:00
layout: post
categories:
  - t. intricatum gbs
---
  * Soltis CTAB protocol.  Exceptions/notes:
      * Mixed fresh CTAB buffer (a half batch)
          * Used Tris, NaCL, and EDTA solutions from dead fridge
          * Used CTAB from glass jar 042386
      * Made 5mL CTAB buffer + PVP + B-merc
          * Used PVP from Fisher 25 July 2008
          * Used B-merc from Sigma lot 110H0608
      * Mixed fresh 24:1 chloroform:isoamyl alcohol in dark glass
          * used chloroform from Pfrender 5/08
          * used isoamyl from Pfrender 2/02 and the last of Sigma lot 101H006
  * Samples:
      * 07033 6mg live tissue (about a dime sized section)
      * F82-1-6-3 385mg from preserved tissue (about a dime sized section.  It is saturated with water from cleaning sand so it is heavier, but the amount of tissue is the same)
  * Ground using blue pestles in 1.5mL tubes, my cordless drill on high torque setting.  Held the tube in my wooden tube rack clamped to the bench in a tub of ice.
      * Applied force in an up and down bouncing and circular motion to avoid heating the plastic (it squeaks if you start to warm up).
      * Ground 1-2 minutes, scraping the pellet up from the tip and into reach of the pestle once.
      * Added 100uL of CTAB+PVP+B-merc
      * Ground 1-2 minutes more
  * Incubated at 55C in the Tropicooler heatblock overnight (started 5:15pm)

Continuing on 10/20/11

  * After adding the 24:1 C:I, I mixed by hand shaking tubes for 5 minutes
  * Spun 10 minutes at 13000rpm in the accuSpin Micro centrifuge
  * 07033 aqueous phase=425uL.  Added 34uL am.acet. (from Der 10/06) + 248uL isoproponol (from green labeled 'for extractions' aliquot)
  * F82-1-6-3 aqueous=450uL.  36uL am.acet + 262uL isoproponol
  * Mixed by hand shaking for 5 minutes and placed in -20 (9:30am).
  * Removed after 5.5hrs (3pm)
  * Used 70% EtOH from 2/20/08 AD
  * Used 95% EtOH from 4/20/04 JR
  * Resuspended in 50uL TE buffer from 7/7/08 AD
  * Incubated @ 55C in Tropicooler for 1hr and moved to -20

Continuing on 10/21/11

  * Ran a gel.  Fragment sizes are smaller on the 1980's dry tissue (F82-1-6-3) than the live tissue (07033).

<div class="mceTemp">
  <p>
    <a href="{{site.image_path}}wp-content/uploads/2011/10/Gel2011-10-20_Extractions.jpg"><img class="size-full wp-image-1031" title="Gel2011-10-20_Extractions" src="{{site.image_path}}wp-content/uploads/2011/10/Gel2011-10-20_Extractions.jpg" alt="" /></a>
  </p>

  <dl id="attachment_1031" class="wp-caption alignnone" style="width: 357px;">
    <dd class="wp-caption-dd">
      1-2: empty, 3: ladder, 4-13: another project, 14:07033, 15: F82-1-6-3
    </dd>
  </dl>
</div>

  * Quantified DNA using the Qubit:
      * 07033: 500 ng/uL
      * F82-1-6-3: 27.5 ng/uL
  * This is enough of 07033 for GBS but additional extractions are needed for F82-1-6-3
